
.crest_img {
    width: 10%;
    height: auto;
    margin: 0 5px;
}

#standings_ctr {
    background-color: #005593;
    width: 100%;
    color: white;
    font-size: 15px;

    a {
        text-decoration: none;
        color: white;
    }
}

.standings_header, .standings_content {
    width: auto;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255);

    .standings_team {
        margin: 5px auto 5px 20px;
        
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

    .standings_played, .standings_points, .standings_GD {
        margin: 5px;
        width: 40px;
        display: flex;
        justify-content: flex-end;
    }

}
.standings_content {
     

    .standings_team {
        margin: 5px;
        margin-right: auto;
        min-width: 200px;        
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

}


#fixtures_ctr {
    width: 100%;
    /* max-width: 800px; */
    background-color: #005593;
    color: white;  
    height: fit-content;
    margin-bottom: 20px;

    
    button {
        color: white;
        border: white 1px solid ;
        margin: 5px;
    }
}

.fixtures_ctr_header {
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    
    
}

.fixture {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    min-height: 40px;
    
    align-items: center;
    border-bottom: #002239 2px solid;
    .fixture_team {
       
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }

    .fixture_score {
        padding: 0 10px;
        
    }
    .fixture_date {
        width: fit-content;
    }

   
}

@media only screen and (max-width: 600px) {
    #fixtures_ctr {
        width: 100%;
    }    
    #fixtures_ctr .fixtures_ctr_header {
        width: 100%;

        #fixutres_date {
            width: fit-content;
        }


    }
    
    #fixtures_ctr #fixtures_content {
        width: 100%;
        font-size: 12px;
        
        .fixture_team {
            width: 35%;
        }
    }

    #standings_ctr {
        width: 100%;
    }
    
    
}

@media only screen and (min-width: 601px) {
    #fixtures_ctr {
        width:90vw;
    }    
    #fixtures_ctr .fixtures_ctr_header {
        width: 100%;

        #fixutres_date {
            width: fit-content;
        }


    }
    
    #fixtures_ctr #fixtures_content {
        width: 100%;
        font-size: 12px;
        
        .fixture_team {
            width: 35%;
        }
    }

    #standings_ctr {
        width: 90vw;
    }
    
}


@media only screen and (min-width: 768px) {
    #fixtures_ctr {
        width:700px;
    }    
    #fixtures_ctr .fixtures_ctr_header {
        width: 100%;

        #fixutres_date {
            width: fit-content;
        }


    }
    
    #fixtures_ctr #fixtures_content {
        width: 100%;
        font-size: 12px;
        
        .fixture_team {
            width: 35%;
        }
    }

    #standings_ctr {
        width: 700px;
    }
    
}